{% extends 'rx/base.html' %}
{% block header %}
{% load staticfiles %}

<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/about.css' %}">

{% endblock %}

{% block title %}Data@thedetail{% endblock %}


{% block content %}
<div id="body_main">
<img id="drug_title" src="{% static 'rx/image/pill box1.png' %}">
<h2>About the Data</h2>
<p>GP prescribing data are aggregated as a monthly total of the number of prescriptions and amounts of each drug prescribed by each GP and filled by a patient during the reporting period.

<p><a href="http://www.hscbusiness.hscni.net/services/2471.htm" target="_blank">Northern Irish prescribing data</a> are published by HSC Business Services Organization. The data are released quarterly, beginning with prescriptions filled April 2013. 

<p><a href="http://www.hscic.gov.uk/gpprescribingdata" target="_blank">English prescribing data</a> are published by the Health & Social Care Information Centre.

<p><a href="http://www.wales.nhs.uk/sites3/page.cfm?orgid=428&pid=65866" target="_blank">Welsch prescribing data</a> are published by Primary Care Services, part of NHS Wales Shared Services Partnership.

<p>Scotland does not release prescribing data at the level of individual GPs. Without these data, there is no way to make comparisons with other UK countries that do. Scotland was excluded from the analysis.

<p>The most recent and complete data for Northern Ireland, England and Wales are for the period beginning April 2013 and ending September last year. All data, except where explicitly stated, pertain to that period.

<p>The World Health Organization's (WHO) <a href="http://www.whocc.no/ddd/definition_and_general_considera/" target="_blank">Defined Daily Dose</a> system was used to make drugs comparable across different strengths and dosages.

<p>WHO's daily doses are calculated for drugs according to the <a href="http://www.whocc.no/atc/structure_and_principles/" target="_blank">Anatomical Therapeutic Chemical</a> (ATC) classification system, which groups drugs according to their active chemical, the organ or system in the body on which they act and their therapeutic, pharmacological and chemical properties.

<p>Drugs in GP prescribing data, however, are specified by <a href="http://en.wikipedia.org/wiki/British_National_Formulary" target="_blank"> British National Formulary</a> (BNF) code.

<p>The Detail mapped ATC to BNF codes in order to apply correct daily doses to drugs in the prescribing data. A full record of that mapping is available <a href="{% static 'rx/BNF ATC.html' %}">here</a>. 

<p>Drugs were selected for inclusion in the analysis by their ATC classification, corresponding to general pharmacological categories of antidepressants, anti-anxiety drugs, opioid painkillers and certain sedatives.

<p>There were 456 individual medications selected for study, comprised of 54 different active chemicals.

<p>In total, data were analysed for 352 Northern Irish GPs; 9,563 English GPs and 541 Welsch GPs.

<p>During the study period (April - September 2013), there were 400 million prescriptions recorded in the data, UK-wide, with over 23,000 medications represented in that total.

<p>Filtering the data for the specific drugs in the study, there were over 36 million prescriptions filled UK-wide. Over 3.5 million of those were prescribed by Northern Irish GPs.


<h2>Notes to Statistics</h2>
<table style="border-collapse:collapse; margin:20px auto;">
<tr>
<td id="warn_cell_img">
<img src="{% static 'rx/image/nerd-glasses_small.png' %}">
</td>
<td id="warn_cell"><span id="warn_cell_warning">WARNING:</span><br>Geek-Speak Ahead
</td>
</tr>
</table>


<h3>GP Deprivation Groups</h3>

<p>One major goal of the analysis was to determine what effect economic circumstances had on antidepressant prescription rates. To measure the relationship, first some gauge of economics had to be assessed at the level of individual GPs. Official statistical indexes of deprivation at the smallest geographic census level were used.


<img id="deprive_chart" src="{% static 'rx/image/GP_Deprivation_Distribution.png' %}">

<p>The above probability density chart shows what ratio of GPs are in each of four deprivation groups in Northern Ireland, England and Wales. The deprivation groups range from least deprived to most deprived and were calculated by taking the <a href="http://en.wikipedia.org/wiki/Standard_score" target="_blank">Z-score</a> — a statistical measure that allows for comparison of the scores between countries — for each GP’s local deprivation level. 

<p>In Northern Ireland and Wales, The Detail assigned deprivation scores to each GP based on the scores for income and employment levels in the area of each GP’s postcode. In England, GPs are assessed deprivation scores and these were used.

<p>Break points for the overall deprivation groups were determined by averaging the quartiles for the three countries.

<p>The distribution shows that a greater proportion of English GPs lie in areas that would be considered least deprived, compared to Northern Ireland and Wales. To better account for that difference, the analysis compares prescription rates of each country’s GPs within their respective deprivation group.


<h3>Deprivation Influence</h3>

<img id="deprive_ddd_charts" src="{% static 'rx/image/Deprivation_DDD_Charts.png' %}">
<p>The Pearson correlation coefficients for GP deprivation scores and daily doses prescribed per registered patient were .44 for Northern Ireland; .31, Wales; .22, England, all of which were significant at p < .001 .

<p>A few influential outliers were identified via Cook’s Distance for both Northern Ireland and England. Excluding four outlying data points did not significantly improve the correlation coefficient for England. Northern Ireland’s coefficient improved to .48 after excluding two influential outliers.

<p>The differences between correlation coefficients were tested for statistical significance using the Fisher transformation. Northern Ireland’s correlation coefficient was significantly greater than Wales’ and England’s at p < .05 and p < .001, respectively.


</div>
{% endblock %}
