

<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>





<head>


	
	<title>{% block title %}{% endblock %}</title>

{% load humanize %}
{% load staticfiles %}

<link rel="icon" type="image/png" href="{% static 'rx/image/favicon.ico' %}">





<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/template.css' %}">
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'rx/js/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/jquery.stickysectionheaders.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/jsonselect.js' %}"></script>

{% block header %}{% endblock %}





<style type="text/css">
	@font-face {
	  font-family: Monaco ;
	  src: url("{% static 'rx/font/Monaco.ttf' %}") format("truetype");
	};
	@font-face {
	  font-family: Garamond ;
	  src: url("{% static 'rx/font/Garamond.ttf' %}") format("truetype");
	};
	@font-face {
	  font-family: "Trebuchet MS" ;
	  src: url("{% static 'rx/font/Trebuchet MS.ttf' %}") format("truetype");
	};
	@font-face {
	  font-family: "Goudy Old Style" ;
	  src: url("{% static 'rx/font/Goudy Old Style.TTF' %}") format("truetype");
	};
	@font-face {
	  font-family: "Helvetica Neue" ;
	  src: url("{% static 'rx/font/HelveticaNeue.ttf' %}") format("truetype");
	};



</style>



</head>
<body>

<div id='container'>

<!-- ******** TEMPLATING Begin ******** -->

	
	<!-- <img class="logo" src="{% static 'rx/image/thedetail.png' %}">
	 -->

	<div id='cssmenu'>
	<ul>
		<li class="logo_li"><a href="http://www.thedetail.tv/" class="top_line"><img class="logo_white" src="{% static 'rx/image/thedetail_white.png' %}"></a>

			
		</li>
	   <li class="title_li"><a href="{% url 'rx.views.index' %}" class="top_line"><img class="title_white" src="{% static 'rx/image/title_white.png' %}"></a></li>
	   
	   <li onclick="return true" ><a class="top_line"><span>GPs</span></a>
			<ul>
		         <li><a href="{% url 'rx.views.gp_search_area' %}"><span>Search by Postcode</span></a></li>
		         <li><a href="{% url 'rx.views.gp_search_name' %}"><span>Search by Name</span></a></li>
		    </ul>
	   </li>

	   <li  class='has-sub'><a class="top_line"><span onclick="return true">Drugs</span></a>
	      <ul class="scroll">
			
	      <li>&nbsp;Antidepressant</li> 
	      {% for link in links %}
	      {% if link.chem_action == 'Antidepressant' %}
	      	<li>  <a href="{% url 'rx.views.drug' link.chem_name %}"><span>{{link.chem_name}}</span></a></li>
	      {% endif %}
	      {% endfor %}
		  

	       <li>&nbsp;Anti-Anxiety</li> 
	      {% for link in links %}
	      {% if link.chem_action == 'Anxiolytic' %}
	      	<li>  <a href="{% url 'rx.views.drug' link.chem_name %}"><span>{{link.chem_name}}</span></a></li>
	      {% endif %}
	      {% endfor %}
		  

		  <li>&nbsp;Opioid Painkiller</li> 
	      {% for link in links %}
	      {% if link.chem_action == 'Opioid Analgesic' %}
	      	<li>  <a href="{% url 'rx.views.drug' link.chem_name %}"><span>{{link.chem_name}}</span></a></li>
	      {% endif %}
	      {% endfor %}

		

		  <li>&nbsp;Sedative</li> 
	      {% for link in links %}
	      {% if link.chem_action == 'Hypnotics' %}
	      	<li>  <a href="{% url 'rx.views.drug' link.chem_name %}"><span>{{link.chem_name}}</span></a></li>
	      {% endif %}
	      {% endfor %}


	   
	      

			
	      </ul>
	   </li>
	   
	   <li><a href="{% url 'rx.views.about' %}" class="top_line"><span>About</span></a>
	   </li>
	   <li><a href='.' class="top_line"><span><img style="height:20px; width:30px; padding:10px; display:inline;" src="{% static 'rx/image/share.png' %}"></span></a>
	      <ul>
	         <li><a onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=700,height=500,toolbar=1,resizable=0'); return false;" href="http://twitter.com/home?status=The%20Detail%20-%20The%20Script%20Report:%20Prescription%20Drugs%20in%20Northern%20Ireland%20{{share_url}}%20via%20@TheDetailTV" ><span>Share to Twitter</span></a></li>
	         <li><a onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=700,height=500,toolbar=1,resizable=0'); return false;" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{share_url}}&p[images][0]={{BASE_URL}}{% static 'rx/image/red and blues_tall.png' %}&p[title]=The%20Detail%20-%20The%20Script%20Report:%20Prescription%20Drugs%20in%20Northern%20Ireland&p[summary]="><span>Share to Facebook</span></a></li>
<li><a onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=700,height=500,toolbar=1,resizable=0'); return false;" href="https://plus.google.com/share?url={{share_url}}"><span>Share to Google+</span></a></li>
<li><a href="mailto:?subject=The Detail - The Script Report: Prescription Drugs in Northern Ireland&amp;body=Check out the report: {{share_url}}." title="Share by Email"><span>Email this story</span></a></li>


	      </ul>
	   </li>
	</ul>
	</div>





<!--Sticky script for menu bar-->
<script>
  $(document).ready(function(){
    $("#cssmenu").sticky({topSpacing:0});
  });


  $('.scroll').stickySectionHeaders({
  stickyClass     : 'sticky',
  headlineSelector: '.drugsub'
});


</script>
<script>
  
</script>

<!-- ******** TEMPLATING End ******** -->






{% block content %}
{% endblock %}


<div id="warning">
<table>
	<tr>
	<td class="warn_head">PLEASE</td>
	<td>... don't make health care decisions based on this report alone. We're not doctors. The data presented here are for the purpose of broad consideration. Information on particular drugs should not be considered exhaustive or necessarily applicable to your individual health.</td>
	</tr>
</table>
</div>


<!-- ******** TEMPLATING Begin ******** -->
	<div id='footer'>
	<div class='legals'>
	<div class='main'>
	<p>The Detail, Fifth Floor, The Warehouse, 7 James Street South, Belfast, Northern Ireland, BT2 8DN     Telephone + 44 28 9031 5930</p>
	</div>
	<div class='sidebar'>
	<p>&copy; 2011 - 2014 The Detail TV. <a href="http://www.thedetail.tv/terms-and-conditions">Terms and Conditions</a></p>
	</div>
	</div>
	</div>
	</div>
 <script>
//   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

//   ga('create', 'UA-44382357-1', 'thedetail.tv');
//   ga('send', 'pageview');

// </script>

</body>
