{% extends 'rx/base.html' %}

{% block title %}Data@thedetail{% endblock %}

{% block header %}
{% load staticfiles %}
<!-- Leaflet declarations -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'rx/css/drug_page.css' %}">

 <script>
var map_url = "{% static 'rx/image/map-uk.png' %}",
	pill_url = "{% static 'rx/image/pill.png' %}";
</script>

{% endblock %}




{% block content %}

{% load humanize %}
{% load rx_extras %}

<style>
</style>


<div id="text_main">



<div id="page_title_banner">	
	<h1>{{drug_stat.chem_name}}</h1>
	<span class="aka">
	{% if drug_stat.brand_names == ' '  %}
	{% else %}
	aka {{drug_stat.brand_names}}
	{% endif %}
	</span>
</div>

<div class="top_info">
{{drug_stat.drug_description|safe|linebreaks}}
</div>

<script type="text/javascript">
  var NIR_probability={{nir_rx_prob}}
      drug="{{drug_stat.chem_name}}"
      chem_type = "{{drug_stat.chem_class}}"
      drug_use = "{{drug_stat.chem_action|lower}}"
      NIR_ddd_per_100k = 
      {% if drug_stat.nir_ddd_per_100k < 10 %}
      "{{drug_stat.nir_ddd_per_100k|monthly|floatformat:1}}"
      {% else %}
      "{{drug_stat.nir_ddd_per_100k|monthly|floatformat:0}}"
      {% endif %}
      ENG_ddd_per_100k = 
      {% if drug_stat.eng_ddd_per_100k < 10 %}
      "{{drug_stat.eng_ddd_per_100k|monthly|floatformat:1}}"
      {% else %}
      "{{drug_stat.eng_ddd_per_100k|monthly|floatformat:0}}"
      {% endif %}
      NIR_rx_per_100k = 
      {% if drug_stat.nir_rx_per_100k < 10 %}
      "{{drug_stat.nir_rx_per_100k|monthly|floatformat:1}}"
      {% else %}
      "{{drug_stat.nir_rx_per_100k|monthly|floatformat:0}}"
      {% endif %}
      ENG_rx_per_100k = 
      {% if drug_stat.eng_rx_per_100k < 10 %}
      "{{drug_stat.eng_rx_per_100k|monthly|floatformat:1}}"
      {% else %}
      "{{drug_stat.eng_rx_per_100k|monthly|floatformat:0}}"
      {% endif %};
</script>

<div id="interactive">
<!-- 	<div id="viz_title_div">
<h4>100 Prescriptions<span class="info" id="i100"><img src="{% static 'rx/image/i.png' %}" ></span></h4>	
</div> -->
<script type="text/javascript" src="{% static 'rx/js/pill_graph.js' %}"></script>
</div>


<hr class="styled_hr"> 
<h3>100 Doses</h3>
<p>To get a sense of how Northern Irish prescription rates for {{drug_stat.chem_name}} compare, consider a hypothetical based on the difference in rates between England and Northern Ireland.</p>

<div id="bigint">
{{nir_rx_prob|percentize}}
</div>

<p style="font-size:19px;">If a single GP had an equal number of registered patients from Northern Ireland and England, <span class="smallint">{{nir_rx_prob|percentize}}</span> out of every 100 daily doses of {{drug_stat.chem_name}} would be prescribed to Northern Irish patients.</p>

<p>The graph at right models that difference for a random collection of 100 daily doses.

<hr class="styled_hr">
<h2>Drug Facts</h2>


<div class="fact_block">

<div class="text_block">
<div id='uses'>
	<h5>Commonly Used to Treat</h5>
	<div class="lab_pad">
	{{drug_stat.drug_uses|safe}}
	<span class="sub_source">
	SOURCE: National Health Service
	</span>
	</div>
</div>

<div id='warnings'>
	<h5>Common Warnings</h5>
	<div class="lab_pad">
	{{drug_stat.drug_warnings|safe|linebreaks}}
	<span class="sub_source">
		SOURCE: National Health Service
	</span>
	</div>
</div>

<div class="fatal_div">
	{% if generic %}
		<h5>Drug Fatalities*</h5>
	{% else %}
		<h5>Drug Fatalities</h5>
	{% endif %}

	<div class="lab_pad">
	<span class="fatal_sub">Due to drug misuse or other drug-related cause</span>
	{% if fatal.f2000 > 0 %}
		<script type="text/javascript">
		var fatal_data = {fatalities:[
							{"year":"2000","value":{{fatal.f2000}} },
							{"year":"2001","value":{{fatal.f2001}} },
							{"year":"2002","value":{{fatal.f2002}} },
							{"year":"2003","value":{{fatal.f2003}} },
							{"year":"2004","value":{{fatal.f2004}} },
							{"year":"2005","value":{{fatal.f2005}} },
							{"year":"2006","value":{{fatal.f2006}} },
							{"year":"2007","value":{{fatal.f2007}} },
							{"year":"2008","value":{{fatal.f2008}} },
							{"year":"2009","value":{{fatal.f2009}} },
							{"year":"2010","value":{{fatal.f2010}} },
							{"year":"2011","value":{{fatal.f2011}} },
							{"year":"2012","value":{{fatal.f2012}} },
						]};
		</script>
		<script type="text/javascript" src="{% static 'rx/js/fatality.js' %}"></script>
		{% if generic %}
		<span class='sub_label'>
			*For all {{ drug_stat.chem_action|lower }} drugs <br>
		</span>	
		{% endif %}
		<span style="padding-left:0px; " class="sub_source">
			SOURCE: Northern Ireland Statistics and Research Agency
		</span>
	{% else %}<br>Not Recorded
	{% endif %}
	</div>
</div>
</div>
<div class='text_block'>

<div class="deprive_div">
	<h5>Monthly Prescription Rates</h5>
	<span class="deprive_sub">Daily Doses <span style="font-weight:bold;">per 100,000</span> registered <br>patients by deprivation level</span>
	<div class="lab_pad">
	<svg class="chart"></svg>
	<script type="text/javascript">
	var data = [
			{{drug_stat.nir_deprive1_ddd_rate|monthly|sigdig}}, 
			{{drug_stat.nir_deprive2_ddd_rate|monthly|sigdig}}, 
			{{drug_stat.nir_deprive3_ddd_rate|monthly|sigdig}}, 
			{{drug_stat.nir_deprive4_ddd_rate|monthly|sigdig}}
		];
	</script>
	<script type="text/javascript" src="{% static 'rx/js/deprive_chart.js' %}"></script>
	</div>
</div>



<div id='popular'>
<h5>Most Common Prescription</h5>
	<div class="lab_pad">
	{{drug_stat.nir_top_present|title}}
	<br>
	<span class="pop_text">
	On average
	<br>
	<span class="small_bigint">
	{{drug_stat.nir_top_rxs|monthly|floatformat:0|intcomma}}
	</span>
	<br>
	prescriptions are filled in <br>Northern Ireland each month.
	</span>
	</div>


</div>
</div>


</div>






<div class="top_rx">

<div id="map">
<script type="text/javascript">

		var map = L.map('map',{
			scrollWheelZoom: false
		}).fitBounds({{latlon}}, {padding: [10,10]});

	L.tileLayer('http://{s}.tile.cloudmade.com/e87822f63861499982c677d840781aa7/997/256/{z}/{x}/{y}.png', {
	    attribution: 'GP locations are only accurate to the postcode. Do not use to navigate.',
	    maxZoom:12

	}).addTo(map);

	var icon = L.icon({
		iconUrl: "{% static 'rx/image/Marker-Ball-Azure48.png' %}",
		iconAnchor: [22, 50],
		/*iconSize: [40, 55],*/
		popupAnchor: [15, -50],
	})
	{% for gp in gps %}	
	/*var marker2 = L.marker([{{gp.lat}}, {{gp.lon}}]).addTo(map);*/
	var marker = L.marker([{{gp.lat}}, {{gp.lon}}], {icon: icon}).addTo(map);
	marker.bindPopup("<span class='popup_prac'>{{gp.name|title|mcCap}}</span><br>{{gp.city|title}} - {{gp.postcode}}");
	{% endfor %}
</script>
</div>

<h3>Top Prescribers</h3>
<div id="top_table">
	<table>
		<tr>
			<th></th>
			<th class="table_prac">Practice</th>
			<th class="table_locl">Location</th>
			<th class="table_prescript">Daily Doses<br><span class="table_hed_sub">per 1,000 Registered <br>Patients per Month</span></th>
		</tr>
	{% for gp in gps %}	
		<tr {% if forloop.counter|divisibleby:2 %}class='even'{% else %}class='odd'{% endif %}>
			<td>{{forloop.counter}}</td>
			<td style="width:220px"><a href="{% url 'rx.views.gp' gp.code %}">{{gp.name|title|mcCap}}</a> </td>
			<td>{{gp.city|title}}</td>
			<td style="width:140px; text-align:center;">{{gp.ddd_per_1k|floatformat:0|intcomma}}</td>
		</tr>
	{% endfor %}	
	</table>

</div>
</div>



</div>
<!-- 
<img style="width: 100px; float:left;" src="{% static 'rx/image/blue pills.png' %}"> -->

{% endblock %}