{% extends 'rx/base.html' %}

{% block title %}Data@thedetail{% endblock %}

{% block header %}
{% load staticfiles %}
<!-- Leaflet declarations -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'rx/css/gp_page.css' %}">
{% endblock %}





{% block content %}
<!-- Temp style -->
<style>
</style>
{% load humanize %}
{% load rx_extras %}


<div id="text_main">

<div id="gp_demographic">

	<div id="antimap">

		<div id="address_bar">
		{{gp_info.add1}}
		{{gp_info.add2}}
		{{gp_info.add3}}
		{{gp_info.postcode}}
		</div>
		<div id="demo_div">
			<div id="gp_name">
				{{gp_info.name|title|mcCap}}
			<!-- Fit font to div height -->
			<script>
			$(function() {
		    var div = $('#gp_name');
		    var fontSize = parseInt(div.css('font-size'));
		    do {
		        fontSize--;
		        div.css('font-size', fontSize.toString() + 'px');
		    } while (div.height() >= 100);});
			</script>


			</div>
			<div class="gp_demodata">
				<span class="head_cap">
					Registered Patients
				</span><br>	
				<span class="big_int">
					{{gp_info.patients|intcomma}}
				</span>
				
			</div>
			<div class="gp_demodata2">
				<span class="head_cap">
					Area Deprivation
				</span><br>
				<span class="deprived">
					{% if gp_info.deprive == '1' %}Least Deprived{% endif %}
					{% if gp_info.deprive == '2' %}Less Deprived{% endif %}	
					{% if gp_info.deprive == '3' %}More Deprived{% endif %}	
					{% if gp_info.deprive == '4' %}Most Deprived{% endif %}	
				</span>
				<div class="gp_demodata_mini">
				<span class="head_cap_mini">
					Depression Prevalence
				</span>
				</div>
				<span class="deprived_mini" >
				{% if gp_info.qof > 0 %}
				&nbsp;{{gp_info.qof|percentize}}%<span class="info" >*</span> 
				{% else %}
				NA<span class="info" >*</span> 
				{% endif %}
				</span>
			</div>
		</div>

	</div>

	<div id="map">
	<script type="text/javascript">
	/*MAP*/
		var map = L.map('map',{zoomControl:false,
		scrollWheelZoom: false}).setView([{{gp_info.lat}},{{gp_info.lon}} ], 12);

		L.tileLayer('http://{s}.tile.cloudmade.com/e87822f63861499982c677d840781aa7/997/256/{z}/{x}/{y}.png', {
		    maxZoom:12

		}).addTo(map);

		var icon = L.icon({
			iconUrl: "{% static 'rx/image/Marker-Ball-Azure48.png' %}",
			iconAnchor: [22, 50],
			/*iconSize: [40, 55],*/
			popupAnchor: [15, -50],
		});
		var marker = L.marker([{{gp_info.lat}}, {{gp_info.lon}}], {icon: icon}).addTo(map);
	

	</script>
	</div>

</div>
<br><br><br><br><br><br><br><br>
<div id="help_dialog">
	<p>*Depression prevalence is a measure of the percentage of registered patients ever having been coded for depression by a GP. It is assessed as part of the Quality and Outcomes Framework, which is a voluntary incentive program included in the General Medical Services Contract. Read more about prevalence statistics <a href="http://www.dhsspsni.gov.uk/statistics_and_research-qof-prevalence">here</a>. QOF data for GPs can be found <a href="http://www.gpcontract.co.uk/">here</a>.

</div>

{% if gp_compare != "NA" %}

	

	<table id="gpCompare">
		<tbody>
			<tr>
				<td class="gpC_over_hd" colspan="4">How this GP compares within a group of 10</td>
			</tr>
			<tr>
				<td class="gpC_header">Antidepressants</td>
				<td class="gpC_header">Anxiolytics</td>
				<td class="gpC_header">Opioid Analgesics</td>
				<td class="gpC_header">Hypnotics</td>
			</tr>
			<tr>
				<td class="anti_cell superord">{{gp_compare.anti_rank|ordinal}}</td>
				<td class="anxi_cell superord">{{gp_compare.anxi_rank|ordinal}}</td>
				<td class="opio_cell superord">{{gp_compare.opio_rank|ordinal}}</td>
				<td class="hypn_cell superord">{{gp_compare.hypn_rank|ordinal}}</td>
			</tr>
			<tr>
				<td id="comp_key_td" colspan="4">
					<p>The number in each box above ranks this GP's per capita prescription rate within a group of 10 GPs, including the nine nearest to it. For example, a GP that prescribed antidepressants at the highest rate with its group of 10 would rank 1st. 
					<p>The color of each box shows whether this GP's rate is statistically above average within their <a href="http://www.hscboard.hscni.net/lcg/" target="_blank">Local Commissioning Group</a> area. GPs with a "High" rate are two <a href="http://en.wikipedia.org/wiki/68%E2%80%9395%E2%80%9399.7_rule" target="_blank">standard deviations</a> above the average, which is the standard for review by the Medicines Management Advisors. A GP is "Above" average if its rate is one standard deviation above the LCG average. 
					<br><br>
					<svg
				   width="300"
				   height="28.571428"
				   id="keySVG">
				  <g transform="translate(-68.5,-423.79074)" id="layer1">
				    <rect
				       width="95.477386"
				       height="28.571428"
				       x="273.02261"
				       y="423.79074"
				       id="rect2985"
				       style="fill:#800000;fill-opacity:1;stroke:none" />
				    <rect
				       width="95.477386"
				       height="28.571428"
				       x="171.01256"
				       y="423.79074"
				       id="rect2985-0"
				       style="fill:#eead0e;fill-opacity:1;stroke:none" />
				    <rect
				       width="95.477386"
				       height="28.571428"
				       x="68.5"
				       y="423.79074"
				       id="rect2985-04"
				       style="fill:#4a7023;fill-opacity:1;stroke:none" />
				     <text x="84" y="445" style="fill:white;font-size:18px;font-family:serif;">Average</text>
				     <text x="193" y="445" style="fill:white;font-size:18px;font-family:serif;">Above</text>
				     <text x="300" y="445" style="fill:white;font-size:18px;font-family:serif;">High</text>
				     </g>
				</svg>
				</td>
				</tr>
				
				

			
		</tbody>
	</table>


	<!-- COMP TABLE STYLES -->
	{% if gp_compare.anti_comp == "OVER" %}
	<style>.anti_cell{background-color:#800000;}</style>
	{% elif gp_compare.anti_comp == "HIGH" %}
	<style>.anti_cell{background-color:#EEAD0E;}</style>
	{% else %}
	<style>.anti_cell{background-color:#4A7023;}</style>
	{% endif %}

	{% if gp_compare.anxi_comp == "OVER" %}
	<style>.anxi_cell{background-color:#800000;}</style>
	{% elif gp_compare.anxi_comp == "HIGH" %}
	<style>.anxi_cell{background-color:#EEAD0E;}</style>
	{% else %}
	<style>.anxi_cell{background-color:#4A7023;}</style>
	{% endif %}

	{% if gp_compare.opio_comp == "OVER" %}
	<style>.opio_cell{background-color:#800000;}</style>
	{% elif gp_compare.opio_comp == "HIGH" %}
	<style>.opio_cell{background-color:#EEAD0E;}</style>
	{% else %}
	<style>.opio_cell{background-color:#4A7023;}</style>
	{% endif %}
	
	{% if gp_compare.hypn_comp == "OVER" %}
	<style>.hypn_cell{background-color:#800000;}</style>
	{% elif gp_compare.hypn_comp == "HIGH" %}
	<style>.hypn_cell{background-color:#EEAD0E;}</style>
	{% else %}
	<style>.hypn_cell{background-color:#4A7023;}</style>
	{% endif %}

	
	<!-- Superscript Ordinals -->
	<script type="text/javascript">
	$('.superord').each(function() {
	    $(this).html(
	        $(this).html().substr(0, $(this).html().length-2)
	          + "<span style='font-size:30px; vertical-align:top; font-weight: normal;'>"
	          + $(this).html().substr(-2)
	          + "</span>");
	});
	</script>


{% endif %}

<table id="heading2">
	<tr>
		<td class="gpC_over_hd" >Top Prescriptions: Antidepressant, Anti-anxiety, Analgesic, Hypnotic</td>
	</tr>
</table>

<div id="table_container">
<div id="table_div">
	<script type="text/javascript" src="{% static 'rx/js/jquery.tablesorter.js' %}"></script>
	<script type="text/javascript" src="{% static 'rx/js/jquery.tablesorter.scroller.js' %}"></script>
<table id="top_drug" class="tablesorter">
	<colgroup>
	<col style="width:160px;">
	<col style="width:100px;">
	<col style="width:90px;">
	<col style="width:180px;">
	<col style="width:130px;">
	<col style="width:auto;">
	</colgroup>	
	<thead class="zero">
		<tr class="upper_th">
			<td></td>
			<td></td>
			<td><span class="rx_writ">Prescriptions</span></td>
		
			<td class="over_hd" colspan="3">Prescription Rate (Defined Daily Doses)**</td>
		</tr>
		<tr class="lower_th">
			<th class="rx_chem">Drug</th>
			<th class="rx_class" style="width:100px;">Class</th>
			<th class="rx_writ">Written</th>
			
			<th><span class="table_sub"> Per 1,000 registered patients per month</span></th>
			<th><span class="table_sub"> Deprivation Group Rank</span></th>
			<th><span class="table_sub"> All N. Irish GPs Rank</span></th>
		</tr>
	</thead>
	<tbody>
	{% for drug in top_drugs %}
		<tr  {% if forloop.counter|divisibleby:2 %}class='even'{% else %}class='odd'{% endif %} >
			<td class="td_drug"><a href="{% url 'rx.views.drug' drug.chem_name %}">{{drug.chem_name}}</a></td>
			<td class="td_act">{{drug.action}}</td>
			<td class="td_rx">{{drug.prescripts|floatformat:0|intcomma}}</td>
			
			<td class="td_rate">{{drug.ddd_per_1k|floatformat:1|intcomma}}</td>
			<td class="td_dep_rank">{{drug.deprive_rank|ordinal}}<span class="table_sub"> / {{drug.deprive_group}}</span></td>
			<td class="td_rank">{{drug.all_rank|ordinal}}<span class="table_sub"> / {{drug.all_prescribing_gps}}</span></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script>
		$.tablesorter.addParser({
	            id: "ordinalNumber",
	            is: function (s) {
	                return false;
	            },
	            format: function (s) {
	            	var regex = /^([0-9]+)[a-z]+/
	                return regex.exec(s)[1];
	            },
	            type: "numeric"
        	});
		$.tablesorter.addParser({
	            id: "cleanNumber",
	            is: function (s) {
	                return false;
	            },
	            format: function (s) {
	                return parseFloat(s.replace("£","").replace(",",""));
	            },
	            type: "numeric"
        	});
	$(document).ready(function() 
	    { 
	        $("#top_drug").tablesorter({
	        							headers :{
	        								2: {sorter:'cleanNumber'},
	        								3: {sorter:'cleanNumber'},
	        								4: {sorter:'ordinalNumber'},
	        								5: {sorter:'ordinalNumber'},
	        							},
	        							
	        							sortList: [[3,1]], 
	        							scrollHeight: 232,
	        							widgets: ['zebra', 'scroller']} ); 
	    } 
	);     
</script>

</div>
</div>

<br><br>








<div id="help_dialog">

	<p>*Depression prevalence is a measure of the percentage of registered patients ever having been coded for depression by a GP. It is assessed as part of the Quality and Outcomes Framework, which is a voluntary incentive program included in the General Medical Services Contract. Read more about prevalence statistics <a href="http://www.dhsspsni.gov.uk/statistics_and_research-qof-prevalence">here</a>. QOF data for GPs can be found <a href="http://www.gpcontract.co.uk/">here</a>.



	<p>**Prescription rates are calculated in Defined Daily Doses per 1,000 registered patients per month. The rates for each GP are then ranked against other GPs that also prescribe that drug. Those ranks are calculated among GPs within a deprivation group and also all GPs in Northern Ireland.

</div>




	







</div>

{% endblock %}