{% extends 'rx/base.html' %}

{% block title %}Data@thedetail{% endblock %}

{% block header %}
{% load staticfiles %}
<!-- Leaflet declarations -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
 <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'rx/css/gp_page.css' %}">
{% endblock %}





{% block content %}
<!-- Temp style -->
<style>
</style>
{% load humanize %}
{% load rx_extras %}


<div id="text_main">

<div id="gp_demographic">

	<div id="antimap">

		<div id="address_bar">
		{{gp_info.add1}}
		{{gp_info.add2}}
		{{gp_info.add3}}
		{{gp_info.postcode}}
		</div>
		<div id="demo_div">
			<div id="gp_name">
				{{gp_info.name|title|mcCap}}
			<!-- Fit font to div height -->
			<script>
			$(function() {
		    var div = $('#gp_name');
		    var fontSize = parseInt(div.css('font-size'));
		    do {
		        fontSize--;
		        div.css('font-size', fontSize.toString() + 'px');
		    } while (div.height() >= 100);});
			</script>


			</div>
			<div class="gp_demodata">
				<span class="head_cap">
					Registered Patients
				</span><br>	
				<span class="big_int">
					{{gp_info.patients|intcomma}}
				</span>
				
			</div>
			<div class="gp_demodata2">
				<span class="head_cap">
					Area Deprivation
				</span><br>
				<span class="deprived">
					{% if gp_info.deprive == '1' %}Least Deprived{% endif %}
					{% if gp_info.deprive == '2' %}Less Deprived{% endif %}	
					{% if gp_info.deprive == '3' %}More Deprived{% endif %}	
					{% if gp_info.deprive == '4' %}Most Deprived{% endif %}	
				</span>
				<div class="gp_demodata_mini">
				<span class="head_cap_mini">
					Depression Prevalence
				</span>
				</div>
				<span class="deprived_mini" >
				{% if gp_info.qof > 0 %}
				&nbsp;{{gp_info.qof|percentize}}%<span class="info" >*</span> 
				{% else %}
				NA<span class="info" >*</span> 
				{% endif %}
				</span>
			</div>
		</div>

	</div>

	<div id="map">
	<script type="text/javascript">
	/*MAP*/
		var map = L.map('map',{zoomControl:false,
		scrollWheelZoom: false}).setView([{{gp_info.lat}},{{gp_info.lon}} ], 12);

		L.tileLayer('http://{s}.tile.cloudmade.com/e87822f63861499982c677d840781aa7/997/256/{z}/{x}/{y}.png', {
		    maxZoom:12

		}).addTo(map);

		var icon = L.icon({
			iconUrl: "{% static 'rx/image/Marker-Ball-Azure48.png' %}",
			iconAnchor: [22, 50],
			/*iconSize: [40, 55],*/
			popupAnchor: [15, -50],
		});
		var marker = L.marker([{{gp_info.lat}}, {{gp_info.lon}}], {icon: icon}).addTo(map);
	

	</script>
	</div>

</div>

<br>
<h4 class="h_break">Top Prescriptions: Antidepressant, Anti-anxiety, Analgesic, Hypnotic</h4>
<div id="table_container">
<div id="table_div">
	<script type="text/javascript" src="{% static 'rx/js/jquery.tablesorter.js' %}"></script>
	<script type="text/javascript" src="{% static 'rx/js/jquery.tablesorter.scroller.js' %}"></script>
<table id="top_drug" class="tablesorter">
	<colgroup>
	<col style="width:160px;">
	<col style="width:100px;">
	<col style="width:90px;">
	<col style="width:180px;">
	<col style="width:130px;">
	<col style="width:auto;">
	</colgroup>	
	<thead class="zero">
		<tr class="upper_th">
			<td></td>
			<td></td>
			<td><span class="rx_writ">Prescriptions</span></td>
		
			<td class="over_hd" colspan="3">Prescription Rate (Defined Daily Doses)**</td>
		</tr>
		<tr class="lower_th">
			<th class="rx_chem">Drug</th>
			<th class="rx_class" style="width:100px;">Class</th>
			<th class="rx_writ">Written</th>
			
			<th><span class="table_sub"> Per 1,000 registered patients per month</span></th>
			<th><span class="table_sub"> Deprivation Group Rank</span></th>
			<th><span class="table_sub"> All N. Irish GPs Rank</span></th>
		</tr>
	</thead>
	<tbody>
	{% for drug in top_drugs %}
		<tr  {% if forloop.counter|divisibleby:2 %}class='even'{% else %}class='odd'{% endif %} >
			<td class="td_drug"><a href="{% url 'rx.views.drug' drug.chem_name %}">{{drug.chem_name}}</a></td>
			<td class="td_act">{{drug.action}}</td>
			<td class="td_rx">{{drug.prescripts|floatformat:0|intcomma}}</td>
			
			<td class="td_rate">{{drug.ddd_per_1k|floatformat:1|intcomma}}</td>
			<td class="td_dep_rank">{{drug.deprive_rank|ordinal}}<span class="table_sub"> / {{drug.deprive_group}}</span></td>
			<td class="td_rank">{{drug.all_rank|ordinal}}<span class="table_sub"> / {{drug.all_prescribing_gps}}</span></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script>
		$.tablesorter.addParser({
	            id: "ordinalNumber",
	            is: function (s) {
	                return false;
	            },
	            format: function (s) {
	            	var regex = /^([0-9]+)[a-z]+/
	                return regex.exec(s)[1];
	            },
	            type: "numeric"
        	});
		$.tablesorter.addParser({
	            id: "cleanNumber",
	            is: function (s) {
	                return false;
	            },
	            format: function (s) {
	                return parseFloat(s.replace("£","").replace(",",""));
	            },
	            type: "numeric"
        	});
	$(document).ready(function() 
	    { 
	        $("#top_drug").tablesorter({
	        							headers :{
	        								2: {sorter:'cleanNumber'},
	        								3: {sorter:'cleanNumber'},
	        								4: {sorter:'ordinalNumber'},
	        								5: {sorter:'ordinalNumber'},
	        							},
	        							
	        							sortList: [[3,1]], 
	        							scrollHeight: 232,
	        							widgets: ['zebra', 'scroller']} ); 
	    } 
	);     
</script>

</div>
</div>

<br><br>








<div id="help_dialog">

	<p>*Depression prevalence is a measure of the percentage of registered patients ever having been coded for depression by a GP. It is assessed as part of the Quality and Outcomes Framework, which is a voluntary incentive program included in the General Medical Services Contract. Read more about prevalence statistics <a href="http://www.dhsspsni.gov.uk/statistics_and_research-qof-prevalence">here</a>. QOF data for GPs can be found <a href="http://www.gpcontract.co.uk/">here</a>.



	<p>**Prescription rates are calculated in Defined Daily Doses per 1,000 registered patients per month. The rates for each GP are then ranked against other GPs that also prescribe that drug. Those ranks are calculated among GPs within a deprivation group and also all GPs in Northern Ireland.

</div>




	







</div>

{% endblock %}