{% extends 'rx/base.html' %}

{% block header %}
{% load staticfiles %}
<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/d3_hbar.css' %}">
<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/d3_hbar2.css' %}">
<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/jquery-ui.min.css' %}">
<link rel="stylesheet"  media="all" type="text/css" href="{% static 'rx/css/index.css' %}">





{% endblock %}

{% block title %}Data@thedetail{% endblock %}


{% block content %}

<script type="text/javascript">
	var grouper1 = 0,
		sorter1  = 1,
		chem1    = 'All',
		grouper2 = 0,
		sorter2  = 1,
		chem2    = 'All',
		grouper3 = 0,
		sorter3  = 1,
		chem3    = 'All'
		;
	


</script>


<a href="" onclick="return false;" class="chapt"><p>Chapters</p></a>



<div id="TOC">
	<a href="" onclick="return false;" id="chapt_X">X</a>
	<h2>Chapters</h2>
	<ul>
	<li><a href="" onclick="return false;" id="chapt_1">Introduction</a></li>
	<li><a href="" onclick="return false;" id="chapt_2">Two Concepts</a></li>
	<li><a href="" onclick="return false;" id="chapt_3">On the Rise</a></li>
	<li><a href="" onclick="return false;" id="chapt_4">Top Prescriber</a></li>
	<li><a href="" onclick="return false;" id="chapt_5">Self-diagnosis</a></li>
	<li><a href="" onclick="return false;" id="chapt_6">“Sandwich Generation”</a></li>
	<li><a href="" onclick="return false;" id="chapt_7">Economic Deprivation</a></li>
	<li><a href="" onclick="return false;" id="chapt_8">Welfare Reform</a></li>
	<li><a href="" onclick="return false;" id="chapt_9">The Waiting List</a></li>
	<li><a href="" onclick="return false;" id="chapt_10">A Magic Pill</a></li>
	<li><a href="" onclick="return false;" id="chapt_11">Constant Pressure</a></li>
	<li><a href="" onclick="return false;" id="chapt_12">An Open Debate</a></li>
	<li><a href="" onclick="return false;" id="chapt_13">Alternatives</a></li>
	</ul>
</div>

<script type="text/javascript" src="{% static 'rx/js/chapter_scroller.js' %}"></script>

<div id="text_main">

<img style="width: 950px; ;" src="{% static 'rx/image/red and blues_tall.png' %}">
<h1>The Script Report</h1>
<a id="intro"></a>
<h4>Introduction</h4>
<p class="margin">Happy pills, tranqs, benzos, cotton, mother's little helper, fizzies. For every pill in the growing variety of modern psychotropic medication, a pet name. Some, a product of abuse; others, fondness.

<p class="margin">According to recent statistics, antidepressants are directly responsible for the deaths of about 21 people in Northern Ireland each year.


<p class="margin">Benzodiazepines, a class of drugs commonly featured among anti-anxiety medicines, were responsible for the deaths of 290 people between 2003 and 2012.

<p class="margin">Powerful opiates and sedatives carry a high risk of developing dependence, are often fatal in overdose and are sometimes a gateway to dangerous illegal drugs.

<p class="margin">Despite the significant risks associated with many of these controlled chemicals, <a href="http://www.theguardian.com/news/2013/nov/20/mental-health-antidepressants-global-trends" target="_blank">recent international studies</a> have cited stark upward trends in prescription drug consumption, eespecially among chemicals that act on the central nervous system including antidepressants, anti-anxiety drugs, sedatives and opioid painkillers. 

<p class="margin">Street-level trade of prescription pills has also picked up. Young, aggressive patients feign symptoms to gain access to the drugs while <a href="http://www.bbc.co.uk/news/uk-northern-ireland-25058728" target="_blank">pharmaceutical supply chains have become wholesale targets of thieves</a> looking to meet demand on the street.

<br><br>
<div id="searchdiv">
<h3 class="searchtitle">Search the data for individual drugs or GPs.</h3>
{% if search_error %}
	<form method="get" action="/prescript/drugs/">
{% else %}
	<form method="get" action="drugs/">
{% endif %}
	<div id="tfheader" class="searchbox">
        	<input type="text" id="tfq" class="tftextinput2" name="q" size="21" maxlength="120" value="Enter drug name to search"><input type="submit" value=">" class="tfbutton2">
	</div>
	</form>
{% if search_error %}
	<form method="get" action="/prescript/gp_search_name/">
{% else %}
	<form method="get" action="gp_search_name/">
{% endif %}
	<div id="tfheader2" class="searchbox">
    		<input type="text" id="tfr" class="tftextinput2" name="q" size="21" maxlength="120" value="Enter GP name to search"><input type="submit" value=">" class="tfbutton2">
	</div>
	</form>
{% if search_error %}
	<script>
	$('html,body').animate({scrollTop: $("#searchdiv").offset().top -40})
	</script>

	<span class="searcherror">*Sorry, your search did not return any results. Please resubmit with a new search term or try browsing with the menu bar instead.</span>
{% endif %}

</div>
<br><br>

<p class="margin">The Script Report is an analysis of prescribing rates in Northern Ireland using recently released GP prescribing data.

<p class="margin">The Detail focused on prescription rates for drugs which fell in one of four categories according to their major indication in adults: antidepressants, anti-anxiety drugs, opioid painkillers and certain sedatives.

<p class="margin">The analysis compares average prescription rates in Northern Ireland with those of GPs in England and Wales. (Only Scotland does not release comparable data in the UK.) The Detail also considered the level of economic hardship in a GP’s immediate community in making comparisons.


<p class="margin">The goal of the project is to make the data transparent and useful to health care consumers, as well as to survey an important issue receiving significant public attention in recent years: the over-prescription of psychotropic medicines.

<p class="margin">Using this site you can explore details about particular medicines and compare prescription rates of individual GPs. But first:

<a id="twoConcepts"></a>
<h3>Two important concepts to understand</h3>

<table id="instruct_table">
<colgroup>
	<col width="300px">
	<col>
</colgroup>

<tr>
<td class="instruct_td_head">Defined Daily Dose</td>
<td class="instruct_td_text">
	<p>Per the World Health Organization:
	<blockquote cite="http://www.whocc.no/ddd/definition_and_general_considera/">
		<p style="font-size:18px;">The Defined Daily Dose is the assumed average maintenance dose per day for a drug used for its main indication in adults.</p>
	</blockquote> 

	<p>The Detail used the Defined Daily Dose (or just "daily dose") to make different drugs prescribed at different strengths comparable. For example, diazepam has a Defined Daily Dose of 10mg. So 10 diazepam pills at the 10mg dosage are evaluated the same as 5 pills at 20mg: 10 daily doses. 
	<p>The daily dose is a statistical average and not a prescribing guide. Doctors prescribe different daily regimens based on individual patients and their particular conditions.
</td>
</tr>

<tr>
<td class="instruct_td_head">Deprivation</td>
<td class="instruct_td_text">
	<p>National statistics agencies in the UK estimate the level of economic hardship in a community using statistical measures known as indexes of deprivation. The poorer the economic opportunities in an area, the more deprived it's said to be.
	<p>The Detail grouped GPs into four categories based on the level of deprivation in their local community to make the most exacting comparisons possible of their prescription rates.
	<p>The groups range:
	<ul>
	<li>LEAST deprived GPs are in wealthier areas</li>
	<li>LESS deprived</li>
	<li>MORE deprived</li>
	<li>MOST deprived GPs are in some of the poorest areas</li>
	</ul> 
</td>
</tr>

</table>








<hr class="separated"></hr>
<a id="Rise"></a>
<h2>On the Rise</h2>


<p class="margin">The World Health Organization estimates that by 2020 depression will be the second leading cause of disability, worldwide. Only heart disease will aflict more people.

<p class="margin">In Northern Ireland, the causes behind high levels of depression, anxiety and other neural disorders are multiple.

<p class="margin">Perhaps the most recognised contributor is the legacy of the Troubles. 

<p class="margin">The Detail <a href="http://www.thedetail.tv/issues/304/suicide-1998-2012/suicide-kills-as-many-as-the-troubles" target="_blank">previously reported</a> almost as many people have died by suicide in the years since the Good Friday Agreement than were killed by sectarian violence during the Troubles.

<p class="margin">“Coming out of the Troubles, people are beginning to talk about and recognise post-trauma anxiety, depression and stress,” said Tom McEneaney of Aware Defeat Depression, a charity in Northern Ireland. 

<p class="margin">“Nobody’s shouting from the rooftops, but depression is sitting under the sofa, gathering momentum.”



<hr class="separated"></hr>
<a id="topPrescriber"></a>
<h2>Top Prescriber</h2>

<p class="margin">But while neural disorders are becoming increasingly prevalent, the focus among health officials has been weening the public and GPs off their reliance on psychotropic medicines.

<p class="margin"><a href="http://www.psychologytoday.com/blog/side-effects/201311/the-oecd-warns-antidepressant-overprescribing">In a widely publicised report</a> last November, the Organisation for Economic Co-operation and Development (OECD) showed a significant increase in the use of, specifically, antidepressants during the last decade among 23 member countries, mostly European. According to the report, the wider use of antidepressants to treat milder symptoms “raised concerns about appropriateness.”


	<p class="margin">The report also compared prescribing rates among member countries using the number of defined daily doses per 1,000 people per day, which is a measure designed to approximate the number of patients regularly using a medication per thousand.

	<p class="margin">The United Kingdom ranked 7th highest among OECD member nations at 71 daily doses per thousand people per day. Topping the list was Iceland at 106 daily doses per thousand per day.

<div id="minimaps">
	<div id="minimaps_svg"></div>
</div>

<script type="text/javascript">
var nir_map_black = "{% static 'rx/image/nir_black.png' %}"
	nir_map_hi    = "{% static 'rx/image/nir_hi.png' %}"
	ice_map_black = "{% static 'rx/image/ice_black.png' %}"
	ice_map_hi    = "{% static 'rx/image/ice_hi.png' %}"
	aus_map_black = "{% static 'rx/image/aus_black.png' %}"
	aus_map_hi    = "{% static 'rx/image/aus_hi.png' %}"
	can_map_black = "{% static 'rx/image/can_black.png' %}"
	can_map_hi    = "{% static 'rx/image/can_hi.png' %}"
	den_map_black = "{% static 'rx/image/den_black.png' %}"
	den_map_hi    = "{% static 'rx/image/den_hi.png' %}"
	swe_map_black = "{% static 'rx/image/swe_black.png' %}"
	swe_map_hi    = "{% static 'rx/image/swe_hi.png' %}"
	por_map_black = "{% static 'rx/image/por_black.png' %}"
	por_map_hi    = "{% static 'rx/image/por_hi.png' %}"
	uk_map_black  = "{% static 'rx/image/uk_black.png' %}"
	uk_map_hi     = "{% static 'rx/image/uk_hi.png' %}"
</script>

<script type="text/javascript" src="{% static 'rx/js/d3_mini_maps.js' %}"></script>


<p class="margin">The Detail’s analysis indicates, if Northern Ireland were considered apart from the rest of UK, it would take the top spot internationally in the OECD report at 129 daily doses per thousand per day. 

<p class="margin">Within the UK, Northern Ireland outpaced England and Wales in its per person rate of drug consumption across all categories The Detail analysed. (Scotland does not release comparable data at the GP level).

<div class="vizblocklock1 vizblock">
<h2>Antidepressants</h2>
<p>Average daily doses prescribed per 1,000 patients per month
	<div id="vizblock1">
		<select id="drug_drop1"></select>
<a href="" onclick="return false;" id="group_button1" class="chart_button_left">Group</a>
<a href="" onclick="return false;" id="sort_button1" class="chart_button_right">Sort</a><br>
	</div>
	<br>
This graph shows the average monthly rate antidepressants are prescribed by GPs in Northern Ireland. The units are <a target="_blank" href="http://www.whocc.no/ddd/definition_and_general_considera/">defined daily doses</a> per 1,000 registered patients per month. Click GROUP to show GPs by local deprivation levels. SORT aligns the bars for comparison within deprivation groups or between countries. The TOP DRUG bar shows how the current drug compares to the maximum antidepressant prescription rate.
</div>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar_data1.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar.js' %}"></script>


<p class="margin">Northern Irish patients consume more antidepressants than all other categories of prescription medicine in The Detail’s study combined – almost 7.5 million daily doses per month. In the six months of prescribing data that The Detail analysed, GPs prescribed enough antidepressant drugs to give every man, woman, and child in the country a 27-day supply at the Defined Daily Dosage limits. By comparison, English GPs prescribed enough in six months for 10 daily doses per registered patient. Wales doled out 19.

<p class="margin">Depression prevalence statistics reported by GPs as part of the <a href="http://www.dhsspsni.gov.uk/statistics_and_research-qof-prevalence" target="_blank">Quality and Outcomes Framework</a> are an indication of depression rates in the general population. Northern Ireland ranks middle of the pack in the UK, with an average of about 5.1 percent of a GP’s registered patients who have been diagnosed with depression at some point in their lifetime. England ranks highest at about 7.5 percent of patients having been clinically depressed. Wales reports just over 4 percent.

<p class="margin">All GPs don’t necessarily recognise symptoms of depression the same, still the statistics indicate England ranks highest in the rate of depression diagnosis and yet prescribes significantly fewer antidepressants per patient than Northern Ireland and Wales.

<div class="drugs_list">
<h6>Click a link to see more information on some of the most widely prescribed antidepressants, such as:</h6>
<ul>
	<li>
		<a href="{% url 'rx.views.drug' 'Venlafaxine' %}">Venlafaxine</a> aka Vensir, Efexor and Venlalic
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Escitalopram' %}">Escitalopram</a> aka Cipralex
	</li>

	<li>
		<a href="{% url 'rx.views.drug' 'Fluoxetine' %}">Fluoxetine</a> aka Prozac
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Sertraline' %}">Sertraline</a> aka Lustral
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Mirtazapine' %}">Mirtazapine</a> aka Zispin
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Citalopram' %}">Citalopram</a> aka Cipramil
	</li>
</ul>
</div>


<hr class="separated"></hr>
<a id="selfDiagnosis"></a>
<h2>Self-diagnosis</h2>


<p class="margin">Dr. Tom Black, chair of the Northern Ireland General Practitioners Committee, said part of the increase in prescription rates — often the subject of public scrutiny, now — is a direct effect of another public campaign to increase attention on the prevalence of depression in the population.

<p class="margin">“Politicians, the media and the public felt we were under-diagnosing, and they wanted to put the control in the patient’s hands,” said Black. 

<blockquote style="margin:0px 90px 20px;">
<p>
If we appear to be over-diagnosing and over-treating, that’s to some extent what happens when you empower the public with knowledge and information.</p>
</blockquote>

<p class="margin">Take, for example, the PHQ-9 questionnaire. The PHQ-9 was designed to encourage GPs to accurately diagnose patients’ depressive symptoms, but many GPs now say it takes the power to diagnose completely out of their hands.

<p class="margin">The questionnaire consists of ten multiple-choice questions meant to gauge whether a patient is suffering clinical depression. A patient is asked, for example, how often during the last two weeks he or she has felt tired, has had a poor appetite or showed little interest in doing things. 

<p class="margin">The problem: if a patient is convinced before the test he or she is depressed, it’s very easy to answer the questions according to that assumption.

<p class="margin">“Now try a situation where I tell you you’re not depressed. Impossible. Patients were essentially diagnosing themselves.”


<hr class="separated"></hr>
<a id="sandwich"></a>
<h2>The “Sandwich Generation”</h2>

<p class="margin">According to estimates released by the Health and Social Care Board based on 2011 census figures, antidepressant use among females is significantly higher than among men.

<p class="margin">The prevalence of antidepressant, opiate and sedative use is also significantly higher among patients 35 to 64 years old than those 15 to 34 years old. 

<p class="margin">But GPs see steady gains in the consumption of these drugs among those groups much younger than the generation who experienced the Troubles, firsthand. 

<p class="margin">“The big trend I see is the ‘sandwich generation’ are getting hammered,” said Black. “Someone stuck in the middle, looking after children, working hard at a difficult job and looking after parents and grandparents. They’re sandwiched between all those responsibilities. Females, late 20s, 30s and into their 40s, they’re having a tough time out there.” 

<hr class="separated"></hr>
<a id="deprivation"></a>
<h2>Economic Deprivation</h2>

<p class="margin">As part of the GP prescribing data analysis, The Detail tested whether economic hardship was related to antidepressant prescription rates, which might help explain why Northern Irish rates outpace those of other UK countries.

<div class="vizblocklock2 vizblock">
<h2>Anti-Anxiety Drugs</h2>
<p>Average daily doses prescribed per 1,000 patients per month</p>
	<div id="vizblock2">
		<select id="drug_drop2"></select>
		<a href="" onclick="return false;" id="group_button2" class="chart_button_left">Group</a>
		<a href="" onclick="return false;" id="sort_button2" class="chart_button_right">Sort</a><br>

	</div>
	<br>
The average monthly rate anti-anxiety drugs are prescribed by GPs in Northern Ireland. Click GROUP to show GPs by local deprivation levels. SORT aligns bars for comparison within deprivation groups or between countries. The TOP DRUG bar shows how the current drug compares to the maximum anti-anxiety prescription rate.
</div>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar_data2.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar2.js' %}"></script>



<p class="margin">Local economic circumstances are measured by statistics known as <a href="http://en.wikipedia.org/wiki/Multiple_deprivation_index" target="_blank">indices of deprivation</a>, which score local areas according to income and employment levels. The Detail used these indices to statistically test the relationship between the economic deprivation in a GP’s local community and its antidepressant prescription rate.

<p class="margin">According to the analysis, deprivation scores are only weakly correlated with the number of antidepressant daily doses a GP prescribes per registered patient.

<p class="margin">Across the three countries studied, the relationship between deprivation and antidepressant prescription rates is significantly stronger in Northern Ireland than in both England and Wales. But even in Northern Ireland the relationship was too weak to reliably indicate a relationship. 

<p class="margin">Based on the analysis, it would be problematic to say economic deprivation drives the high prescription rate of antidepressants in Northern Ireland.

<p class="margin">In fact, the difference between each country's antidepressant prescription rate was greatest among GPs in least deprived areas. Northern Ireland consumed more than two and a half times the antidepressants per head than GPs in similarly wealthy economic areas in England. 

<div class="drugs_list">
<h6>Click a link to see more information on some of the most widely prescribed anti-anxiety drugs, such as:</h6>
<ul>
	<li>
		<a href="{% url 'rx.views.drug' 'Diazepam' %}">Diazepam</a> aka Diazemuls and Stesolid
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Buspirone' %}">Buspirone</a> aka BuSpar
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Lorazepam' %}">Lorazepam</a>
	</li>
</ul>
</div>

<hr class="separated"></hr>
<a id="welfare"></a>
<h2>Welfare Reform</h2>

<p class="margin">But the link between economic deprivation and antidepressant consumption may become stronger as proposed welfare reforms begin to hit those at the bottom of the economic ladder. 

<p class="margin">Groups like Aware Defeat Depression said they are already seeing an effect.

<p class="margin">“We’re getting increased numbers of people worried about what’s going to happen to their benefits,” said McEheaney. 

<p class="margin">“It’s increased anxiety, increased depression, increased stress among them. Clients that have existing conditions, their condition has deteriorated as a result of worrying about the welfare reforms and the impact they’re going to have on them. It’s going to have a major impact on them and also on clients we haven’t seen yet.”

<p class="margin">While broad welfare reform may increase the severity and prevalence of depression, the lack of available counselling treatments may also drive more patients with mild to moderate symptoms to prescription drugs where an non-medicated alternative might suffice. 

<hr class="separated"></hr>
<a id="waiting"></a>
<h2>The Waiting List</h2>

<p class="margin">Both Black and McEneaney said the lack of timely-available counselling heavily influences a GP’s decision to put a patient on a drug regimen.

<p class="margin">“I rarely refer patients for counselling in the first instance because I know they will become frustrated waiting for service,” Black said.

<p class="margin">McEneaney said waiting times for counselling services range anywhere from 4 to 16 weeks. 

<p class="margin">“GPs would say that’s a long wait for someone with mental health issues, and right enough, people can deteriorate while on waiting lists.” 

<p class="margin">The ready alternative is medication. 


<hr class="separated"></hr>
<a id="magicPill"></a>
<h2>A Magic Pill</h2>

<p class="margin">While certain classes of antidepressant, for example, tricyclics, can risk serious side-effects, others are much more moderate. 

<p class="margin">Where possible, GPs prefer to prescribe milder selective serotonin re-uptake inhibitors, or SSRIs, to treat symptoms of depression and anxiety.

<p class="margin">“I know we’re over-prescribing, but an SSRI is magic,” said Black. “They work so well: they have virtually no side effects, they work within 3 to 4 weeks and they normalize people back into the workplace, back into their family environment. SSRIs have just transformed what we can do for patients.”

<div class="vizblocklock3 vizblock">
<h2>Opioid Painkillers</h2>
<p>Average daily doses prescribed per 1,000 patients per month</p>
	<div id="vizblock3">
		<select id="drug_drop3"></select>
<a href="" onclick="return false;" id="group_button3" class="chart_button_left">Group</a>
<a href="" onclick="return false;" id="sort_button3" class="chart_button_right">Sort</a><br>
	</div>
	<br>
This graph shows the average monthly rate opioids are prescribed by GPs in Northern Ireland. The units are <a target="_blank" href="http://www.whocc.no/ddd/definition_and_general_considera/">defined daily doses</a> per 1,000 registered patients per month. Click GROUP to show GPs by local deprivation levels. SORT aligns bars for comparison within deprivation groups or between countries. The TOP DRUG bar shows how the current drug compares to the maximum antidepressant prescription rate.
</div>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar_data3.js' %}"></script>
<script type="text/javascript" src="{% static 'rx/js/d3_hbar3.js' %}"></script>


<p class="margin">Other psychotropics carry significantly more risk.

<p class="margin">Benzodiazepines, commonly called “benzos,” are a class of drug that feature prominently among anti-anxiety medicines and sedatives. Chemically, benzos enhance the efficiency of gamma-aminobutyric acid which produces a calming effect within the brain, effectively capping overactive neurons.

<p class="margin">Benzos’ chemical properties make them an effective treatment for insomnia, anxiety and aggression, among other neural disorders. But benzos are also highly addictive, lead to withdrawal and in combination with other drugs or alcohol can be fatal in overdose. Some studies indicate, in older patients, benzodiazepines also significantly increase the risk of developing dementia.

<p class="margin">Their addictive qualities make benzos rife with abuse and particularly difficult to wean patients off of.

<p class="margin">“It’s a really slow project. They’re so addictive,” said Black. “You’ll do (a patient) great harm if you stop someone’s benzo who you shouldn’t.”

<p class="margin">Richard Orr of the Health and Social Care Board (HSCB) said over-prescribing among benzos and antidepressants was a problem the HSCB was well aware of.

<p class="margin">The HSCB’s Medicines Management Advisors annually target GPs in the top 30 percent of prescribers of antidepressants, anti-anxiety drugs and opioid painkillers. In its 2013/14 cycle, the group said 169 GPs took action to reduce prescriptions of painkillers, while 35 agreed to change their anti-anxiety prescribing and 28 reviewed their antidepressant prescribing. 

<div class="drugs_list">
<h6>Click a link to see more information on some of the most widely prescribed opioids and sedatives, such as:</h6>
<ul>
	<li>
		<a href="{% url 'rx.views.drug' 'Tramadol' %}">Tramadol</a> aka Maxitram, Mabron and Zydol
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Oxycodone' %}">Oxycodone</a> aka OxyContin and OxyNorm
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Zopiclone' %}">Zopiclone</a> aka Zimovane
	</li>
	<li>
		<a href="{% url 'rx.views.drug' 'Temazepam' %}">Temazepam</a>
	</li>
</ul>
</div>

<hr class="separated"></hr>
<a id="abuse"></a>
<h2>Constant Pressure and Abuse</h2>

<p class="margin">But even scrupulous GPs face constant pressure from patients intentionally looking to abuse or illegally sell drugs. For the same reasons self-diagnosis is problematic, GPs can find themselves at a significant disadvantage in identifying fraud in self-reported symptoms of mental health.

<p class="margin">“There is a cohort of young, aggressive males who are trying to access antidepressants, anxiolytics and strong opioid painkillers,” said Black. “In terms of painkillers, we come under daily assault.”


<blockquote style="margin:0px 90px 20px;">
	<p>My young female doctors find it quite intimidating when you have a 6-foot, drug-abusing, alcoholic young man refusing to leave the room unless you give them Tramadol. They’ll exaggerate and manipulate and intimidate until they get it. And if you give it to them once, you’ll give it forever more, amen.</p>
</blockquote>

<p class="margin">The PSNI also refer to a significant overlap between abuse of prescription drugs and other, illicit drugs.

<p class="margin">A spokesperson said, “Many drug users in Northern Ireland are polydrug users and as such may use prescription and illicit drugs, with one drug used to counteract or replicate the effects of another.”

<p class="margin">The illegal trade in prescription drugs is conducted by multiple actors. Organised crime groups import prescription pills with other illicit drugs, while online marketers outside the UK attempt to ship the drugs in through the post. Patients also sell medicines personally prescribed to them. But most illegal pills, according the PSNI, come from sources outside the UK. 

<p class="margin">That also means consumption of those drugs isn’t included in official statistics like those The Detail surveyed.

<hr class="separated"></hr>
<a id="debate"></a>
<h2>An Open Debate</h2>

<p class="margin">Despite the steady increase of antidepressant consumption in the UK, experts are still split on whether they are over-prescribed. <a href="http://group.bmj.com/group/media/latest-news/are-antidepressants-overused" target="_blank">A recent debate in BMJ</a> (formerly the British Medical Journal) set out both sides of the argument.

<p class="margin">Making the case for over-prescription, some GPs say symptoms have to meet a relatively low bar to be considered clinically depressive.

<p class="margin">Official guidelines state that two weeks of low mood should be classified as clinical depression, even after a family bereavement.

<p class="margin">Des Spence, a Glaswegian GP, also sees the influence of the pharmaceutical industry on prescribing practice:

<blockquote style="margin:0px 90px 20px;">
	<p>Mental illness is the drug industry’s golden goose: incurable, common, long term, and involving multiple medications. This relation with industry has engrained a therapeutic drug mindset to treat mental illness. … Isn’t this medicalising normality?</p>

</blockquote>

<p class="margin">Defenders of current practice say antidepressant prescription has risen due to appropriate increases in the duration of treatment rather than an increase in the number of patients diagnosed with depression.

<p class="margin">Ian Reid, a professor of psychiatry at University of Aberdeen, blamed the media for promoting the idea “that GPs are handing out antidepressants ‘like sweeties.’”

<p class="margin">Spence questioned, though, whether prescribing antidepressants is altogether necessary in many cases. Research indicates only one in seven people actually benefit from an antidepressant regimen, he said.

<p class="margin">"Thus millions of people are enduring at least six months of ineffective treatment. People who do not respond fare worse, with switches of medications and often multiple drug combinations. How often do we tell patients these undisputed facts?"

<p class="margin">Neither side specifically addressed prescription rates in Northern Ireland which are significantly higher than those in other UK countries surveyed by The Detail.


<hr class="separated"></hr>
<a id="alternatives"></a>
<h2>Alternatives</h2>

<p class="margin">There is strong evidence that support groups and educational programmes can successfully mitigate mild to moderate symptoms of depression, often in place of a drug regimen.

<p class="margin">In 2009, Aware Defeat Depression began offering the Living Life to the Full programme, founded on Cognitive Behavioral Therapy principles and with funding from the Department of Health, Social Services and Public Safety. The programme provides educational counselling including coaching on how to cope with depressive symptoms and general wellness tips.

<p class="margin">An evaluation of 394 participants found the programme highly successful. Using a standardised classification method administered before and after a 6 to 8-week administration period, the number of participants classified as “depressed” dropped 59 percent, while the number classified as “happy” increased 57 percent. Trends were similar between male and female participants.

<p class="margin">Aware Defeat Depression are hopeful positive results like these will bolster support for future funding so more free services can be offered to patients whose GPs may have no other alternative but to begin a psychiatric career.
 
<p class="margin">“We try to intervene with as little as what is needed, but something that has an evidence base to it and something that will give people support and hope towards their recovery,” said McEneaney.

<blockquote style="margin:0px 90px 20px;">
	<p>It’s about giving people the tools, the strategy and building up their own personal resilience to look after their own health and well-being and of each other.</p>
</blockquote>

<img style="width: 150px; margin:0 auto; display:block;" src="{% static 'rx/image/blue pills.png' %}">

<br><br>

<!--Search box script-->
<script type="text/javascript">
window.onload = function(){ 
	//Get submit button
	var submitbutton = document.getElementById("tfq");
	var submitbutton2 = document.getElementById("tfr");
	//Add listener to submit button
	if(submitbutton.addEventListener){
		submitbutton.addEventListener("click", function() {
			if (submitbutton.value == 'Enter drug name to search'){
				submitbutton.value = '';
			}
		});
	}
	if(submitbutton2.addEventListener){
		submitbutton2.addEventListener("click", function() {
			if (submitbutton2.value == 'Enter GP name to search'){
				submitbutton2.value = '';
			}
		});
	}
}

$( "#tfr").autocomplete({ autoFocus: true, delay:200, minLength:3,
source: ["{{gps_search|safe|title}}"]  });
$( "#tfq").autocomplete({ autoFocus: true, delay:200, minLength:3,
source: ["{{drug_search|safe|title}}"]  });

</script>


</div>

{% endblock %}