#viz_title_div{
	float:left;
	width:400px;
	text-align: middle;
	margin:0 auto;
	display:block;
	height: 50px;
	
}

#viz_title_div h4{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 24px;
	color:darkred;
	font-style: normal;
}


#interactive{
	margin-top: 0px;
	float:right;
	width:400px;

}

.d3_country{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 30px;
	fill:#666666;
	stroke:white;
	stroke-opacity:.1;
	kerning:3;
	letter-spacing: 3px;
}
.svg_text_halo{

	fill:white;
	fill-opacity:.00;
}

.vizstatblock{
	fill:#0099CC;
	fill-opacity:.2;
	stroke:grey;
	stroke-width:1px;

}
.viztitle{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 15px;
	fill:black;
	font-weight: bold;
	stroke:white;
	stroke-opacity:.1;
	text-anchor:middle;
}
.viztitle2{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 15px;
	fill:black;
	font-weight: bold;
	stroke:white;
	stroke-opacity:.1;
}
.viztext{

	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	fill:black;
	stroke:white;
	stroke-opacity:.1;
	text-anchor:left;

}





.vizdate{

	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 9px;
	fill:black;
	stroke:white;
	stroke-opacity:.1;
	text-anchor:middle;

}


.vizstat{

	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 25px;
	fill:darkred;
	font-weight: bold;
	stroke:white;
	stroke-opacity:.1;
	text-anchor:middle;

}
.vizlabel{

	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 15px;
	fill:black;
	font-style: italic;
	text-decoration: underline;
	stroke:white;
	stroke-opacity:.1;
	text-anchor:middle;

}

.graphic_box1{
	position:absolute;
}

#map{
	margin:25px 0px;
	clear:left;
	float: left;
	height:350px;
	width:400px;
	border: 2px solid #000000;
}
.popup_prac{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	fill:black;
}
#top_table{
	float: left;
	width:500px;
	padding: 0px 10px;
	
}
#top_table table{
	border-spacing: 0px;	
}
tr.even{
	background-color:lightgrey;
}

#top_table th {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;
	vertical-align: bottom;
	padding:5px 5px;
	padding-bottom: 0px;
	border-style:solid;
	border-bottom:medium solid #000000;

}
#top_table td {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 14px;
	padding:5px 5px;

}
#top_table td a{
	text-decoration: none;
	color:darkblue;
}
#top_table td a:hover{
	text-decoration: underline;
}

.info{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;
	color:black;
	vertical-align: super;
	cursor:pointer;
}
.info{
	text-decoration: none;
}
.info:hover{
	text-decoration: underline;
	color:red;
}
.help_dialogue{
	text-align: left;
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 18px;

}