
#gp_demographic{
	margin:30 0;
	padding-top: 10px;
	padding-bottom: 20px;
}
#antimap{
	float: left;
	padding-top: 20px;
}


#demo_div{
	clear:left;
}
#address_bar{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-left:5px;
	padding-right: 5px;
	color:white;
	max-width: 725px;
	float: left;
	background-color: #999999;
}
#gp_name{
	float:left;
	max-width:300px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 44px;
	text-align: right;
	padding-right: 20px;
}

.gp_demodata{
	float:left;
	max-width:200px;
	padding:0px 20px;
	border-left:2px solid grey;
	height: 100px;
}
.gp_demodata2{
	float:left;
	max-width:140px;
	padding-left:20px;
	padding-right: 5px;
	border-left:2px solid grey;
	height:100px;
}

.gp_demodata_mini{
	float:left;
	max-width:70px;
	margin-top:10px;
	margin-bottom: 10px;
	border-right:1px solid grey;
	height:36px;
}


.head_cap{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color:darkred;	
}
.head_cap_mini{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	margin:auto 0px;
	color:darkred;	
}

.big_int{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 70px;
	font-weight: bold;
}
.deprived{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 80%;
}
.deprived_mini{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-size: 26px;
	font-weight: bold;
	margin-top:20px;
	line-height: 50px;
}




#map{
	margin:0px 10px;
	float: left;
	height:175px;
	width:200px;
	border: 2px solid #000000;
}






#table_container{
	width: 100%;
	margin:0 auto;
}
#table_div{
	margin:0 auto;
	width:850px;
	clear:left;
}

table{
	table-layout: fixed;
}



th{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	vertical-align: bottom;
}
.lower_th th{
	height: 10px;
	border-bottom:3px solid darkgrey;
	cursor:pointer;
}

.lower_th th:hover{
	border-bottom-color: darkred;
}

.table_sub{
	font-size: 12px;
	color:#333333;
}

.rx_writ{
	font-size: 16px;
}
.rx_class{
	font-size: 16px;
	
}

.rx_chem{
	
}

.table_sub:hover{
	border-bottom-color: darkred;
}

.upper_th td{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	vertical-align: bottom;
	padding-left: 0px;
	margin-left: 0px;

}
thead.zero span{
	display:none;
	}

thead.zero td{
	display:none;
	}


.over_hd{
	text-align: center;
	background: #42526C;
	color:white;
	font-size: 16px;
}


#top_drug{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	border-spacing: 0px;	
}

#top_drug caption{
	padding-top: 10px;
	padding-bottom: 5px;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 26px;
	text-align: left;
	font-style: italic;
}

tbody{
	max-height:50px;
	overflow-y:scroll;
}

tr.even{
	background-color:lightgrey;
}

td{
	padding-left: 10px;
}

td a{
	color:darkblue;
	text-decoration: none;
}

td a:hover{
	text-decoration: underline;
}
.td_drug{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	width:125px;

}
.td_act{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 12px;
	color:#555555;
	font-style: italic;
	width:70px;

}

.td_rx{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	width:70px;
	padding-left: 10px;
}


.td_rate{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	width:140px;	
	padding-left: 10px;
	text-align: center;
}
.td_dep_rank{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	width:100px;	
	padding-left: 10px;
	color:darkred;
	text-align: center;
}

.td_rank{
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 20px;
	width:100px;	
	padding-left: 10px;
	color:darkred;
	text-align: center;
}




.info{

	color:#800000;
}

.h_break{
	clear:left;
}

#help_dialog{
	display:block;
	margin:0 auto;
	max-width: 750px;
	
}
#help_dialog p{
	font-family:'Lora',"Times New Roman", serif;
	font-size:12px;
	color:#888888;
}

