.rightsearch{
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 28px;
	margin-top: 10px;
}

hr{
	margin-top: 5px;
	margin-bottom: 10px;
}
.wrongsearch{
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	margin: 20px 0px;
	color:darkred;
	font-style: italic;
}



#map{

	margin:20px 10px;
	margin-top: 30px;
	float: left;
  	height:400px;
  	width:470px;
	border: 2px solid #000000;
}
.popup_prac{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	fill:black;
}


.gp_list{
	padding-top: 20px;
	padding-left: 30px;
	width:400px;
	float:left;
}

.gplist_name{
	margin-left: 20px;
	list-style-type: none;
	font-family: Georgia,Garamond, "Times New Roman", serif;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
.gplist_post{
	margin-left: 20px;
	list-style-type: none;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.gplist_name a{
  color:darkblue;
  text-decoration: none;
}
.gplist_name a:hover{
  text-decoration: underline;
}



/* Search box */

#searchdiv{
  width: 600px;
  margin:80px auto;
  display: block;
  padding-bottom: 50px;
  border:solid black 1px;
  border-radius: 20px;
}

.searchtitle{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 28px;
  font-style: normal;
}


.searchbox{
  margin-left:190px;
  float: left;
}

.searcherror{
  padding:20px 70px;
  margin:0px;
  margin-top:;
  margin-bottom: -60px;
  clear:left;
  display:block;
  font-family: Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  color: red;
  font-style: italic;
}


.tftextinput{
  margin: 0 auto;
  padding: 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  color:#666;
  border:1px solid darkred; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
.tfbutton {
  margin: 0;
  padding: 5px 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px darkred; border-right:0px;
  background: darkred;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(darkred));
  background: -moz-linear-gradient(top,  red,  darkred);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
  text-decoration: none;
  background: #007ead;
  background: -webkit-gradient(linear, left top, left bottom, from(darkred), to(darkred));
  background: -moz-linear-gradient(top,  darkred,  darkred);
}
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}


