


#warning{
	float:left;
	clear:both;
	margin:0px 20px 20px;
	padding:0px 10px;
	color:#800000;
	font-family: monospace;
	font-size: 12px;
}

#warning td{
	vertical-align:middle;
}

.warn_head{
	background-color: #800000;
	font-family: monospace;
	color:white;
	font-size: 50px;
	font-weight: bold;
	width: 210px;
	padding:5px;
	line-height: 75%;
	
}


.minimap{
	cursor:pointer;
	background-color: pink;
	fill:pink;
}
.minimap svg{
	margin-left:auto;
	margin-right:auto;
	display:block;
}





.center_limit{
	width:850px;
	margin:0 auto;
	display:block;
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 18px;
  	color:#404040;
}

p.margin{
	margin-left:50px;
	margin-right:50px;
}

.drugs_list{
	width:390px;
	margin:0px auto 50px;
	padding:10px;
	display:block;
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 16px;
  	color:#404040;
  	border: 2px solid black;
  	border-radius: 20px;
}
.drugs_list h6{
	color:black;
	font-style:italic;
	font-family: sans-serif;
	text-align: center;
}
.drugs_list ul{
	list-style-position:inside;
	list-style-type: none;
}
.drugs_list li{
	margin-left:20px;
}
.drugs_list li a{
	font-size: 20px;
	color:#800000;
	text-decoration: none;
	font-weight: 500;
}
.drugs_list li a:hover{
	font-weight: 700;
}

.vizblock h2{
	padding-bottom: 0px;
}

#text_main .vizblock p{
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 15px;
  	color:#404040;
  	padding-bottom: 20px;
  	text-align: center;
}

.vizblocklock1{
	max-width: 500px;
	margin: 5px 10px;
	float:left;
	padding: 20px;
	display:block;
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 16px;
  	color:#404040;
}




.vizblocklock2{
	max-width: 500px;
	clear:left;
	float:right;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	display:block;
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 16px;
  	color:#404040;
}
.vizblocklock3{
	max-width: 500px;
	margin-top: 20px;
	float:left;
	padding: 20px;
	display:block;
	font-family: 'Lora', "Times New Roman", serif;
  	font-size: 16px;
  	color:#404040;
}

#instruct_table{
	width:800px;
	margin:0px auto;
	border-collapse: separate;
}


#instruct_table td{
	padding-bottom: 20px;
}


.instruct_td_head{
	text-align: right;
	font:50px monospace;
	font-weight: bold;
	color:#800000;
	
}

.instruct_td_text{
	font:16px 'Lora', "Times New Roman", serif;
	color:#404040;
	padding-left: 10px;
	vertical-align: top;
}


#instruct_table  p{
	font:15px 'Lora', "Times New Roman", serif;
	color:#404040;
	font-size: 15px;
	padding:7px 0px;
}

#instruct_table ul{
	list-style-position:inside;
	list-style-type:square;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 5px 10px;
  padding: 0.5em 10px;
  font-family: 'Lora', "Times New Roman", serif;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#text_main blockquote p {
  display: inline;
  font-size: 24px;
  color:black;
}





.chapt {

	position:fixed;
	top:40px;


	background-color:white;


	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0px;
	border:1px solid #000000;
	display:inline-block;
	color:#000000;
	font-family:monospace;
	font-size:18px;
	font-style:normal;
	height:28px;
	line-height:28px;
	width:106px;
	text-decoration:none;
	text-align:center;
}
.chapt:hover {
	background:#333333;
	color:white;
}

#TOC{
	background-color: rgba(0,0,0,.8);
	border-radius:20px;
	padding:40px;
	width:400px;
	height:420px;
	display:none;
	position:fixed;
	top: 50%;
  	left: 50%;
  	margin-top: -240px;
  	margin-left: -240px;
  	color:white;
}
#TOC h2{
	color:white;
}
#TOC ul{
	padding-left: 120px;
}

#TOC li{
	height:28px;

}
#TOC li a{
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
	color:white;
}

#chapt_X{
	color:white;
	font-size: 40px;
	float: right;
	text-decoration: none;
}